body #myCarousel .carousel-inner .item .bot {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#inner {
  z-index: 1;
}

img {
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  position: relative;
}

.top {
  display: table-cell;
  width: 80%;
  position: fixed;
  top: 5%;
  left: 10%;
  vertical-align: middle;
}

.carousel-inner .item .bot {
  -webkit-animation: thing 20s;
  -o-animation: thing 20s;
  animation: thing 20s;
}

@keyframes thing {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 20%;
  height: 20%;
}

.carousel-caption h1 {
  margin: -0.05%;
  padding: -0.05%;
  font-family: Latone Regular;
  font-size: 5em;
  text-shadow: 1px 1px white;
  color: #f5ab29 !important;
}

.carousel-caption #suptitle {
  margin: 0 auto;
  font-family: Lato;
  font-size: 1em;
  /**	text-shadow: 2px 2px #751518;**/
  color: #f5ab29 !important;
  background-color: #0a4424;
  opacity: 0.8;
}
.carousel-caption #subtitle {
  margin-top: 0;
  padding-top: 0;
  font-family: Garamond;
  font-size: 1.5em;
  text-shadow: 2px 2px black;
  font-style: italic;
  color: #f5ab29 !important;
  background-color: #751518;
  opacity: 0.8;
}

.carousel-caption h3 {
  margin-top: 30%;
  font-family: Khalid Personal Regular;
  font-size: 4em;
  text-shadow: 1px 1px white;
  opacity: 0.75;
  color: #f5ab29 !important;
}

#menu {
  padding-left: 83%;
  text-shadow: 1px 1px white;
  margin-top: 5%;
  z-index: 2;
  color: #f5ab29;
  font-size: 3.5em;
  position: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0a4424;
  background-image: url("./img/wfflogo.png");
  background-repeat: no-repeat;
  background-position: right center;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f5ab29;
  text-shadow: 2px 2px #751518;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.des {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #751518;
  color: #f5ab29;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-shadow: 2px 2px #0a4424;
}

.des p {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
  color: #f5ab29;
  display: block;
  transition: 0.3s;
  text-align: justify;
}

.des li {
  margin-left: 20%;
  padding: 0;
  margin-right: 10%;
  text-decoration: none;
  font-size: 20px;
  color: #f5ab29;
  text-align: justify;
}

.des h2 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 6em;
  color: #f5ab29;
  display: block;
  text-align: center;
  animation: text 3s 1;
  font-family: Latone;
  background-color: #0a4424;
  text-shadow: 2px 2px #751518;
}

#ref {
  font-style: italic;
}

#logo {
  width: 150px;
  height: 150px;
  margin-left: 80%;
  margin-top: -5%;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.des a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.des a:hover {
  color: #f1f1f1;
}

.des .closebtn1 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #f5ab29;
}

@media screen and (max-height: 450px) {
  .des {
    padding-top: 15px;
  }
  .des a {
    font-size: 18px;
  }
}
